<ng-container *ngFor="let item of users let i = index">
    <div *animate class="card-container">
        <div [ngClass]="{ 'shake': i == 0 }">
        <div [ngClass]="{ 'blink': i == 0 }">
            <div *ngIf="i < 3" class="text-white badge" [ngClass]="{'first': i == 0, 'second': i == 1, 'third': i == 2}">{{i+1}}</div>
            <div class="card"
                [ngClass]="{ 'first': i == 0, 'second': i == 1, 'third': i == 2}">
                <div>
                    <div class="card-header">
                        <div class="container-name">
                            <div class="text-dark">{{ item.name }}</div>
                            <div class="text-dark-m label">{{ item.company.bs }}</div>
                        </div>
                        <div class="text-dark post">post totali: {{ countUserPosts(item.id) }}</div>
                    </div>
                    <div class="card-content">
                        <div class="text-dark-sm last-post">
                            {{ getLastPost(i+1) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</ng-container>