.card-container {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    max-height: 250px;
    padding: 23px;
    margin: 10px 0px 15px 0;
    border-radius: 30px;
    background-color: var(--grey-four);

    .card-header {
        display: flex;
        justify-content: space-between;


        .container-name {
            .label {
                margin: 0 0 0 3px;
            }
        }
    }

    .card-content {
        margin-top: 7px;
        margin-left: 3px;
        
        .last-post {
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}