.card-container {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 150px;
    padding: 23px;
    margin: 10px 0px 30px 0;
    border-radius: 30px;
    background-color: var(--grey-four);

    .card-header {
        display: flex;
        justify-content: space-between;


        .container-name {
            .label {
                margin: 0 0 0 3px;
            }
        }
    }

    .card-content {
        margin-top: 7px;
        margin-left: 3px;

        .last-post {
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.blink {
    animation: 1s 3 blinker;
    animation-timing-function: ease-in, linear, ease-out;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.first {
    background-color: var(--color-blue);
}

.second {
    background-color: var(--color-yellow);
}

.third {
    background-color: var(--color-violet);
}
