<ng-container *ngFor="let item of users let i = index">
    <div class="card-container" *animate="'150ms ease-in-out'; pos0 : item == itemAdd">
        <div class="card-header">
            <div class="container-name">
                <div class="text-dark">{{ item.name }}</div>
                <div class="text-dark-sm label">{{ item.company.bs }}</div>
            </div>
            <div class="text-dark post">post totali: {{ countUserPosts(item.id) }}</div>
        </div>

        <div class="card-content">
            <div class="text-dark-sm last-post">
                {{ getLastPost(i+1) }}
            </div>
        </div>
    </div>
</ng-container>