.container {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .snackbar {
        position: fixed;
        bottom: 0;
        z-index: 10000;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .header {
        display: flex;
        margin: 30px 0px 30px 30px;

        .actions {
            .button {
                width: 130px;
            }

            .add {
                margin-top: 70px;
            }
        }

        .info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 30px;
        }
    }

    .new-post {
        margin: 0px 30px 30px 30px;

        .form {
            align-items: stretch;

            .button-container {
                display: flex;
                justify-content: space-around;
            }
        }

        &.mover {
            animation: mover 1s forwards;

            @keyframes mover {
                from {
                  opacity: 0;
                }
                to {
                  opacity: 1;
                }
              }
        }

    }

    .ranking-container {
        position: relative;
        height: 760px;
        height: calc(100vh - 180px);
        overflow-x: hidden;
        overflow-y: hidden;
        overflow-y: scroll;
    }

    .ranking-container::-webkit-scrollbar {
        display: none;
    }
}