.container {
    display: flex;
    flex-direction: column;

    .snackbar {
        position: fixed;
        bottom: 0;
        z-index: 10000;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .button {
        max-width: 130px;
    }

    .add {
        margin-top: 15px;
    }

    .ranking-container {
        position: relative;
        height: 760px;
        height: calc(100vh - 115px);
        overflow-x: hidden;
        overflow-y: hidden;
        overflow-y: scroll;
    }

    .ranking-container::-webkit-scrollbar {
        display: none;
    }
}