<div class="container">
    <app-snackbar class="snackbar" [notification]="notify"></app-snackbar>
    <div class="header">
        <div class="actions">
            <button class="button button-small outline" (click)="Logout()">
                <span>Logout</span>
            </button>
            <button class="button button-small filled-blue add" (click)="addPost()">
                <span>Aggiungi nuovo post</span>
            </button>
        </div>

        <div class="text-dark-sm info">
            <div>CIAO <span class="text-dark-m">{{ userInfo?.name }}</span></div>
            <div>N°: <span class="text-dark-m">{{ userInfo?.position }}</span></div>
            <div>POST: <span class="text-dark-m">{{ userInfo?.postNumber }}</span></div>
            <div>POST PER PROSSIMA POSIZIONE: <span class="text-dark-m">{{ userInfo?.preDetach }}</span></div>
            <div>POST PER POSIZIONE PRECEDENTE: <span class="text-dark-m">{{ userInfo?.postDetach }}</span></div>
        </div>
    </div>
    <div *ngIf="isNewPostVisible" class="new-post mover">
        <form class="form" [formGroup]="postForm" (ngSubmit)="login()">
            <input *ngIf="isNewPostVisible" class="field field-input-data" placeholder="Inserisci titolo"
                formControlName="title" />
            <input *ngIf="isNewPostVisible" class="field field-input-data" placeholder="Scrivi per postare"
                formControlName="body" />
            <div class="button-container">
                <button class="button button-small filled-blue add" type="submit" [disabled]="postForm.invalid">
                    <span>Aggiungi</span>
                </button>
                <button class="button button-small outline" (click)="isNewPostVisible = false">
                    <span>Chiudi</span>
                </button>
            </div>
        </form>
    </div>
    <div class="ranking-container">
        <app-general-ranking [users]="users" [usersPost]="usersPosts" (userInfoState)="userInfo=$event"
            (showSnackbar)="showSnackbar($event)"></app-general-ranking>
    </div>
</div>