.container {
    display: flex;
    flex-direction: column;

    .button {
        max-width: 130px;
    }

    .add {
        margin-top: 15px;
    }

    .ranking-container {
        position: relative;
        height: 730px;
        overflow-x: hidden;
        overflow-y: hidden;
        overflow-y: scroll;
    }

    ::-webkit-scrollbar {
        width: 0;
        background: transparent;
    }
}